@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Rubik:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@font-face {
    font-family: Vava;
    src: url('Valorant.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
}

h1,h2 {
    font-family: 'Vava', Times;
}

/* ***************** header ***************** */

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
}
header a {
    color: #ffffff;
    margin-right: 10px;
    text-decoration: none;
}

nav {
    margin-left: auto; /* Empurra o nav para a direita */
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px; /* Ajuste conforme necessário para alinhar com o cabeçalho */
        left: 20px; /* Ajuste conforme necessário para alinhar com o cabeçalho */
        background-color: #000;
        z-index: 1; /* Certifique-se de que o menu esteja acima do conteúdo */
    }

    .menu-open .menu {
        display: flex;
    }

    header a {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px 0;
    }
}
/* ***************** header ***************** */

/* ***************** backgrond ***************** */

.banner {
    position: relative;
    top: 50px;
    margin-bottom: 50px;
    object-fit: cover;
    width: 100%;
    height: 80vh;   
}
@media screen and (max-width: 1440px) {
    .banner {
        object-fit: cover;
        width: 100%;
        height: 70vh;   
    }
}

@media screen and (max-width: 426px) {
    .banner {
        object-fit: cover;
        width: 100%;
        height: 35vh;   
    }
}

@media screen and (max-width: 375px) {
    .banner {
        object-fit: cover;
        width: 100%;
        height: 30vh;   
    }
}

@media screen and (max-width: 320px) {
    .banner {
        object-fit: cover;
        width: 100%;
        height: 30vh;   
    }
}

.bc-1 {
    background-color: #101823;
    color: #ffffff;
}
/* ***************** backgrond ***************** */

/* ***************** Video ***************** */
.box-video {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 50px 20px;
}

.box-video iframe {
    border-radius: 10px;
}

/* responsividade */
@media screen and (max-width: 768px) {
    .box-video iframe {
        width: 555px;
        height: 313.56px;
        border-radius: 5px;
    }
}
@media screen and (max-width: 426px) {
    .box-video iframe {
        width: 300px;
        height: 191px;
        border-radius: 10px;
    }
}
@media screen and (max-width: 320px) {
    .box-video iframe {
        width: 250px;
        height: 141.43px;
        border-radius: 10px;
    }
}

/* ***************** video ***************** */

/* ***************** Sobre Mim ***************** */
.container {
    width: 100%;
    height: auto;
    padding: 20px 40px;
}

.container h2 {
    font-size: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.container div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    /* text-align: justify; */
}

.container div p {
    width: 50%;
    position: relative;
    top: 55px;
}

.logo {
    position: relative;
    left: 0;
    height: 30%;
}
/* ***************** Sobre Mim ***************** */


